body {
    font-family: helvetica, arial, sans-serif;
    background-color: lightblue;
}

#h1Title {
    margin: 40px;
    padding: 20px;
    background-color: brown;
    color: #FFF;
    width: 300px;
    text-align: center;
}

#main {
    width: 75%;
    padding: 15px;
    color: green;
    margin-left: auto;
    margin-right: auto;
}

#instructions {
    background-color: whitesmoke;
    margin: 20px;
    padding: 15px;
}

.crystal-image {
    width: 125px;
    padding: 15px;
    float: left;
    margin: 15px;
}