body {
    font-family: helvetica, arial, sans-serif;
    background-color: lightblue;
}

#h1Title {
    margin: 40px;
    padding: 20px;
    background-color: brown;
    color: #FFF;
    width: 300px;
    text-align: center;
}

#main {
    width: 75%;
    padding: 15px;
    color: green;
    margin-left: auto;
    margin-right: auto;
}

#instructions {
    background-color: whitesmoke;
    margin: 20px;
    padding: 15px;
}

.crystal-image {
    width: 125px;
    padding: 15px;
    float: left;
    margin: 15px;
}

#myNumber {
    clear: both;
    font-size: 50px;
    margin: 25px;
    background-color: lightseagreen;
    width: 200px;
    padding: 20px;
}

.win-and-lose

{
    clear: both;
    font-size: 16px;
    color: white;
    margin: 15px;
    background-color: lightseagreen;
    width: 200px;
    padding: 10px;
}

#score {
    clear: both;
    font-size: 16px;
    color: white;
    margin: 15px;
    background-color: lightseagreen;
    width: 200px;
    padding: 10px;
}

#final-score {
    clear: both;
    color: white;
    font-size: 50px;
    margin: 25px;
    background-color: lightseagreen;
    width: 200px;
    padding: 20px;
}